body {
    background-color: azure;
    border: 2px solid green;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-style: italic;
    color: rgb(213, 37, 37);
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 20px;
    margin: 20px;
}

a:hover {
    color: blue;
}
li{
    line-height: 30px;
}